@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
body{
    overflow: hidden;
    background: #EBC7E6;
}
.container {
width: 100%;
min-height: 100vh;

}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height:80px;
    z-index: 111;
    /* background-color: #BFACE2; */
}
.logo{
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color:#645CBB;  
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
} 
b{
    font-size: 70px;
    color: #A084DC;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
font-size: 25px;  
color: #645CBB; 
letter-spacing: 3px;
text-decoration: none;
text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color: #A084DC;  
}
.links a{
    font-size: 30px;
    color: #645CBB; 
    margin: 25px 10px;
}
/*otros estilos especificos del form*/

  
  
  .login-box {
    /*Caja del formato  */
    width: 100%;
    padding: 40px;
    background: #645CBB;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }
  
  h1{
  display: block;
  font-size: 7em;
  font-weight: 900;
  color: #645CBB;
}
p{
    display: block;
    width:auto;
    font-size: 1.2em;
    color: #645CBB;
}
  .form-check-label {
    /* estilo de los puntos para marcar "*/
    color: #fff;
    text-align: justify;
    font-family: 'Handlee';
    font-size: 16px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    /*Estilo del texto dentro del formulario(Datos a llenar) */
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #FCC875;
    outline: none;
    background: transparent;
    font-family: 'Handlee';
    letter-spacing: 0em;
  
  
  }

  .login-box .user-box label {
    /*Estilo del texto que aparece en el formulario(Nombre,correo,numero) */
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #BFACE2;
    pointer-events: none;
    transition: .5s;
  
    font-family: 'Handlee';
    letter-spacing: 0em;
    text-align: center;
  
  }
  
  .login-box .user-box input:focus~label,
  .login-box .user-box input:valid~label {
    /*Estilo del texto que se hace pequeño */
    top: -20px;
    left: 0;
    color: #FCC875;
    font-size: 12px;
    font-family: 'Handlee';
    letter-spacing: 0em;
    text-align: center;
  }
  
  .login-box a {
    /*Estilo del boton  */
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FCC875;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    font-family: 'Handlee';
    letter-spacing: 0em;
    text-align: center;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #A084DC;
    color: #fff;
    border: none
  }
  input:hover {
    /*Estilo del hover del botón */
    background: #EBC7E6;
    color:#645CBB;
    border-radius: 10px;
    box-shadow: 0 0 5px #FCC875,
  
  }
  
  /*Palabra que contiene el botón*/
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  /*A partir de aquí se anima el botón con la línea*/
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FCC875);
    animation: btn-anim1 1s linear infinite;
  }
  
  /*Lista de errores que muestra el alert al enviar formulario*/
  .listaDeErrores {
    list-style-type: none;
  }
  
  /*Botón del alert insertado con sweet alert2*/
  .swal2-styled.swal2-confirm {
    border-radius: .25em;
    background: initial;
    background-color: #FCC875 !important;
    color: #fff;
    font-size: 1em;
  }
  
  /*Título del botón del alert insertado con sweet alert2*/
  #swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: inherit;
    font-size: 1.875em;
    font-family: 'Handlee' !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
  }
  
  /* Boostrap resolution */
  .container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }}